# Upgrade pip
numpy==1.26.4
pandasai
beautifulsoup4
plotly
# Other packages
streamlit

python-dotenv
altair<5
msal
msal-streamlit-authentication
streamlit-authenticator
deta
firebase_admin
protobuf==3.20.0
streamlit_option_menu
sqlalchemy
pandas


